* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

@font-face {
  font-family: "SquareSarif";
  src: url("../fonts/SquareSerif_Bold.ttf") format("truetype");
}

#homepagebody {
  font-family: sans-serif;
}
#container {
  margin: 0 20%;
}

#container .main-text {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: SquareSarif;
  color: #ed786a;
  text-shadow: 1px 3px #e5e5e5;
  letter-spacing: 6px;
  font-weight: bold;
}

#container .sub-text {
  letter-spacing: 1.5px;
  font-weight: 550;
  font-size: 10px;
  color: #8b9094;
  font-family: sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 200px;
  border-bottom: solid 1px #8b90948c;
  padding-bottom: 100px;
}

#footer {
  font-family: sans-serif;
  color: #888988;
  padding: 50px 20%;
  background-color: #f0f0f0;
  margin-top: 100px;
}

#footer .content {
  display: flex;
  flex-direction: row;
}

#footer h1 {
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

#footer h1 strong {
  font-weight: 600;
  color: #666666;
}

#footer .input-wrapper {
  display: flex;
  margin-right: 15px;
  margin-bottom: 12px;
}

#footer input {
  height: 30px;
  width: calc(50% - 7.5px);
  margin-bottom: 30px;
}

#footer input,
#footer textarea {
  padding: 10px;
  border-radius: 3px;
  border: none;
  border-top: solid 1px #dedede;
  border-left: solid 1px #dedede;
}

#footer .name {
  margin-right: 15px;
}

#footer form {
  display: flex;
  flex-direction: column;
  width: 200%;
}

#footer form button {
  align-self: flex-start;
  width: 8rem;
}

#footer form textarea {
  height: 100%;
  width: calc(100% - 15px);
}

#footer .links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
}

#footer .links span {
  width: 50%;
  padding: 10px;
  display: flex;
}

#footer .social {
  font-size: 12px;
  font-weight: 100;
  line-height: 1.2rem;
  margin-left: 1.5%;
}

#footer .social p {
  margin-top: 0;
  margin-left: 10px;
}

#container {
  margin: 0 20%;
}

.btn {
  height: 40px;
  width: auto;
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 1px 2px #dedede;
  font-weight: bold;
  font-size: 10px;
  border: none;
}

.btn-coral {
  background-color: #ed786a;
  color: white;
}

.fa {
  color: #f6bcb5;
}

.fas,
.fab {
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 12px;
  background-color: #878787;
  color: #e4e4e4;
  margin-right: 15px;
}

.fa-phone {
  transform: rotate(90deg);
}

#amazing {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  width: 100%;
  height: 300px;
  border-top: solid 1px grey;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

.imagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
}

#pic1 {
  height: 50px;
  width: 100px;
  border: solid 1px black;
}
#takealook {
  text-align: center;
}

button {
  width: 20%;
  align-self: center;
}

#quote {
  width: 100%;
  height: 100px;
  background-color: grey;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

.topic {
  font-style: bold;
  color: grey;
}

#continuereading1 {
  border-bottom: 1px grey solid;
  margin-bottom: 10px;
}
#aliens {
  display: flex;
  height: 1100px;
  align-content: flex-start;
  flex-direction: row;
  align-items: space-between;
}

#subject1 {
  margin-top: 20px;
}
#subject {
  border-top: 1px solid grey;
}

.datebutton {
  margin-top: 10px;
}

#subject {
  margin-top: 20px;
}

#rightcolumn {
  display: flex;
  flex-direction: column;
  flex: 1 40%;
}

#leftcolumn {
  flex: 1 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 10px;
}
.columnblock {
  border: 1px solid black;
}

#blankimage {
  border: black solid 1px;
  height: 200px;
}

.anotherpostimage {
  border: black solid 1px;
  height: 100px;
  width: 100px;
}

.columnblockpic {
  border-top: grey 1px solid;
  margin-top: 10px;
}

.columnblock {
  border-bottom: 1px grey solid;
}

.rightcolumnblock {
  border: 1px solid black;
}
