* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SquareSarif";
  src: url("../fonts/SquareSerif_Bold.ttf") format("truetype");
}

#homepagebody{
font-family: sans-serif;
}
#container {
  margin: 0 20%;
}

#container .main-text {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-family: SquareSarif;
  color: #ed786a;
  text-shadow: 1px 3px #e5e5e5;
  letter-spacing: 6px;
  font-weight: bold;
}

#container .sub-text {
  letter-spacing: 1.5px;
  font-weight: 550;
  font-size: 10px;
  color: #8b9094;
  font-family: sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 200px;
  border-bottom: solid 1px #8b90948c;
}

#footer .content {
  display: flex;
  flex-direction: row;
}

#footer h1 {
  font-weight: 300;
  font-family: sans-serif;
  color: #8b9094;
}

#footer h1 strong {
  font-weight: bold;
}

#footer .input-wrapper {
  display: flex;
}

#footer form textarea {
  height: 100px;
  width: 100%;
}

#container {
  margin: 0 20%;
}

#amazing {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  width: 100%;
  height: 300px;
  border-top: solid 1px grey;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

.imagecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
}

#pic1 {
  height: 50px;
  width: 100px;
  border: solid 1px black;
}
#takealook {
  text-align: center;
}

button {
  width: 20%;
  align-self: center;
}

#quote {
  width: 100%;
  height: 100px;
  background-color: grey;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

.topic{
font-style:bold;
color: grey
}

#continuereading1{
border-bottom: 1px grey solid;
margin-bottom: 10px;
}
#aliens {
  display: flex;
  height: 1100px;
  align-content: flex-start;
  flex-direction: row;
  align-items: space-between;
 
}

#subject1{
margin-top: 20px;
}
#subject{
border-top: 1px solid grey;
}

.datebutton{
margin-top: 10px;
}

#subject{
margin-top: 20px;
}

#rightcolumn {
  display: flex;
  flex-direction: column;
  flex: 1 40%;

  

 
}

#leftcolumn {
  flex: 1 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 10px;

}
#continuereading{
height: 40px;
width: 70px;
}

#blankimage{
border: black solid 1px;
height: 200px;
}

.anotherpostimage{
border: black solid 1px;
height: 100px;
width: 100px;
}

.columnblockpic{
border-top: grey 1px solid;
margin-top: 10px;
}

.columnblock{
border-bottom: 1px grey solid;
}



  










